.navBarr {

    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.lesantImage {
    height: 300px;
    width: fit-content;
    background-color: #EAE0D5;

}

.lesant {

    background-color: #EAE0D5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.middleBacround {
    /* The image used */
    background-image: url("./pictures/marinosMeSuvla.jpg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caruselImageH3 {
    display: flex;
    justify-content: center;
}

.caruselImage {
    height: 250px;

}

.caruselBorders{
    padding-top: 100px;
}

.foodMenu {
    background-color:  #C6AC8F;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    -webkit-box-shadow: 0px 1px 72px -26px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 72px -26px rgba(0,0,0,0.75);
box-shadow: 0px 1px 72px -26px rgba(0,0,0,0.75);

}
.foodMenu:hover {
    background-color: #a78a6a;
    -webkit-box-shadow: 0px 0px 39px 18px rgba(255,240,245,0.57); 
box-shadow: 0px 0px 39px 18px rgba(255,240,245,0.57);
  }


.menuContainer {
    margin-top: 100px;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EAE0D5;
    padding-bottom: 15vh;
    height: 100%; 

}

.MenuLogo{
width: 300px;
padding-bottom: 10vh;

} 

.menuLogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* menu style */
.menuMap {
    display: flex;
    /* prepi na mbi sto responsive gia pio megala tuto */
    font-size: x-large;
    text-align: left;
    font-style: serif;
    color: white;
}


.foodName {
    width: 250px;
    height: 80px;
    margin-top: 40px;
}

.FoodPrice {
    height: 80px;
    margin-top: 40px;
    width: 50px;
    text-align: end;
}


.webRevews{

    text-align: center;
        height: 100px;
        width: 300px;
        
    }

    .webRevews:hover {
        background-color: whitesmoke;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.64); 
box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.64);
      }

    .ReviewsLogoContainer{
        width: 350px;
        margin-bottom: 10vh;
    }
.ReviewsLogo{
    width: 100%;
}

.revewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    /* height: 80%; */
    /* background-color: #EAE0D5; */
}
.eatOut , .restaurantGuru, .wizguide {
    margin: 20px 20px;
    padding: 10px;
}

/* Display over 501px */
@media screen and (min-width: 515px) {

    .caruselImage {
        height: 300px;
    }

    .lesantImage {
        height: 350px;

    }

/* food menu styleing  */
.foodMenu {
    width: 350px;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;
    background-color: #C6AC8F;
    padding-left: 20px;
    padding-right: 20px;

}

.MenuLogo{
    width: 350px;
    padding-bottom: 10vh;
}

.foodName {
    width: 275px;
    height: 80px;
    margin-top: 40px;
}

.FoodPrice {
    height: 80px;
    margin-top: 40px;
    width: 75px;
    text-align: end;
}



.webRevews{
text-align: center;
    height: 150px;
    width: 300px;
}

.webRevews{
    text-align: center;
        height: 150px;
        width: 400px;
    }

    .ReviewsLogoContainer{
        width: 400px;
        margin-bottom: 10vh;
    }
/*  */
}

/* Display over 800px */
@media screen and (min-width: 800px) {

    .caruselImage {
        height: 500px;
    }

    .lesantImage {
        height: 580px;

    }

/* food menu styleing  */
.foodMenu {
    width: 550px;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;

}


.MenuLogo{
    width: 550px;
    padding-bottom: 10vh;
}

.foodName {
    width: 400px;
    height: 80px;
    margin-top: 40px;
}

.FoodPrice {
    height: 80px;
    margin-top: 40px;
    width: 100px;
    text-align: end;
}

.webRevews{
    text-align: center;
        height: 150px;
        width: 500px;
    }

    .ReviewsLogoContainer{
        width: 500px;
        padding-top: 4vh;
        margin-bottom: 10vh;
    }
/*  */
}
/* Display over 1024 px */
@media screen and (min-width: 1024px) {

    .caruselImage {
        height: 700px;
    }

    .lesantImage {
        height: 750px;

    }

/* food menu styleing  */
.foodMenu {
    width: 650px;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;

}


.MenuLogo{
    width: 650px;
    padding-bottom: 10vh;
}

.foodName {
    width: 650px;
    height: 80px;
    margin-top: 40px;
}

.FoodPrice {
    height: 80px;
    margin-top: 40px;
    width: 100px;
    text-align: end;
}

.webRevews{
    text-align: center;
        height: 150px;
        width: 750px;
    }
.wizguide{
    height: 200px;
}
    .ReviewsLogoContainer{
        width: 750px;
      
        margin: 20px;
        padding: 20px;
    }
/*  */
}





/* Display over 1525 px */
@media screen and (min-width: 1525px) {
/* Carusel Styling */
    .caruselImage {
        height: 800px;
    }
/* */

/* Lesant styiling  */
    .lesantImage {
        height: 1000px;

    }
/* */

/* food menu styleing  */
    .foodMenu {
        width: 800px;
        /* margin-top: 150px; */
        display: flex;
        flex-direction: column;

    }

    
.MenuLogo{
    width: 800px;
    padding-bottom: 10vh;
}    

    .foodName {
        width: 400px;
        height: 80px;
        margin-top: 40px;
    }

    .FoodPrice {
        height: 80px;
        margin-top: 40px;
        width: 400px;
        text-align: end;
    }

    .webRevews{
        text-align: center;
            height: 150px;
            width: 750px;
        }
    .wizguide{
        height: 200px;
    }
        .ReviewsLogoContainer{
            width: 750px;
          
            margin: 20px;
            padding: 20px;
        }
    /*  */
}


.foodTitle {
    cursor: pointer;
    text-align: center;
    margin-bottom: 70px;
}